* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  color: #333;
  overflow: hidden;
}

.app {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(180deg, #87CEEB 0%, #E0F6FF 50%, #B0E0E6 100%);
  overflow: hidden;
}

.clouds-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.cloud {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0.9;
  filter: blur(2px);
}

.cloud::before,
.cloud::after {
  content: '';
  position: absolute;
  background: white;
  border-radius: 50%;
}

/* Cloud 1 - Large cloud at top */
.cloud-1 {
  width: 200px;
  height: 80px;
  top: 10%;
  left: -200px;
  animation: floatCloud 35s linear infinite;
}

.cloud-1::before {
  width: 100px;
  height: 100px;
  top: -50px;
  left: 30px;
}

.cloud-1::after {
  width: 120px;
  height: 120px;
  top: -70px;
  left: 70px;
}

/* Cloud 2 - Medium cloud */
.cloud-2 {
  width: 150px;
  height: 60px;
  top: 25%;
  left: -150px;
  animation: floatCloud 28s linear infinite;
  animation-delay: -10s;
}

.cloud-2::before {
  width: 80px;
  height: 80px;
  top: -40px;
  left: 20px;
}

.cloud-2::after {
  width: 90px;
  height: 90px;
  top: -50px;
  left: 50px;
}

/* Cloud 3 - Small fluffy cloud */
.cloud-3 {
  width: 120px;
  height: 50px;
  top: 45%;
  left: -120px;
  animation: floatCloud 40s linear infinite;
  animation-delay: -5s;
  opacity: 0.8;
}

.cloud-3::before {
  width: 60px;
  height: 60px;
  top: -30px;
  left: 15px;
}

.cloud-3::after {
  width: 70px;
  height: 70px;
  top: -40px;
  left: 40px;
}

/* Cloud 4 - Large cloud lower */
.cloud-4 {
  width: 180px;
  height: 70px;
  top: 60%;
  left: -180px;
  animation: floatCloud 32s linear infinite;
  animation-delay: -18s;
}

.cloud-4::before {
  width: 90px;
  height: 90px;
  top: -45px;
  left: 25px;
}

.cloud-4::after {
  width: 110px;
  height: 110px;
  top: -60px;
  left: 60px;
}

/* Cloud 5 - Small wispy cloud */
.cloud-5 {
  width: 100px;
  height: 40px;
  top: 15%;
  left: -100px;
  animation: floatCloud 45s linear infinite;
  animation-delay: -25s;
  opacity: 0.7;
}

.cloud-5::before {
  width: 50px;
  height: 50px;
  top: -25px;
  left: 10px;
}

.cloud-5::after {
  width: 60px;
  height: 60px;
  top: -35px;
  left: 35px;
}

/* Cloud 6 - Medium cloud at bottom */
.cloud-6 {
  width: 160px;
  height: 65px;
  top: 75%;
  left: -160px;
  animation: floatCloud 38s linear infinite;
  animation-delay: -30s;
  opacity: 0.85;
}

.cloud-6::before {
  width: 85px;
  height: 85px;
  top: -42px;
  left: 22px;
}

.cloud-6::after {
  width: 95px;
  height: 95px;
  top: -55px;
  left: 55px;
}

@keyframes floatCloud {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100vw + 300px));
  }
}
